<!DOCTYPE html>
<html lang="en">  
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    
    <title>Study Hub</title>
    
    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="static/assets/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="static/assets/css/owl.css">
    <link rel="stylesheet" href="static/assets/css/lightbox.css">

  </head>

<body>

   
  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
        <a class="navbar-brand" href="#"  style="color:#f5a425;"><img src="static/assets/images/logo.png" hight="60px" width="60px">&nbsp;<spam style="color: rgb(23, 23, 226);">Study</spam> Hub</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="#section1">Home</a></li>
        <li class="has-submenu"><a href="#section2">About Us</a>
          <ul class="sub-menu">
            <li><a href="#section2">Who we are?</a></li>
            <li><a href="#section3">What we do?</a></li>
            <li><a href="#section3">How it works?</a></li>
            <li><a href="#" rel="sponsored" class="external">External URL</a></li>
          </ul>
        </li>
        <li><a href="#section4">Courses</a></li>
        <!-- <li><a href="#section5">Video</a></li> -->
        <li><a href="#section6">Contact</a></li>
        <li><a class="external" href="/s_signin">Sign In</a></li>
        <li><a class="external" href="/sregister">Sign Up</a></li>
      </ul>
    </nav>
  </header>

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="static/assets/images/course-video.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
              <h6>Best Study Management Site</h6>
              <h2><em>Your</em>Classroom</h2>
              <div class="main-button">
                  <div class="scroll-to-section"><a href="#section2">Discover more</a></div>
              </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <!-- You can add a heading here if needed -->
          </div>
        </div>
        <div class="col-md-12">
          <div id='tabs'>
            <ul>
              <li><a href='#tabs-1'>Best Education</a></li>
              <li><a href='#tabs-2'>Top Management</a></li>
              <li><a href='#tabs-3'>Quality Meeting</a></li>
            </ul>
            <section class='tabs-content'>
              <article id='tabs-1'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="static/assets/images/choose-us-image-01.png" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Best Education</h4>
                    <p>Welcome to Best Education, your ultimate study hub! We provide a wealth of resources, expert guidance, and interactive tools to help you excel academically. Our platform is designed to support learners of all ages and levels, offering personalized learning experiences and the latest educational insights. Join us today and take the first step towards achieving your academic goals! <a href="https://paypal.me/templatemo" target="_parent" rel="sponsored">a small donation</a> Spread the word about Study Hub. Thank you!</p>
                  </div>
                </div>
              </article>
              <article id='tabs-2'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="static/assets/images/choose-us-image-02.png" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Top Management</h4>
                    <p>Welcome to Study Hub Top Management, your premier source for mastering essential management skills. We provide expert insights, comprehensive resources, and interactive tools designed to enhance your leadership capabilities.</p>
                    <p> Learn how to effectively manage teams, strategize for success, and navigate complex business challenges. Elevate your career and drive organizational growth with Study Hub Top Management!</p>
                    
                  </div>
                </div>
              </article>
              <article id='tabs-3'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="static/assets/images/choose-us-image-03.png" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Quality Meeting</h4>
                    <p>At Quality Meeting, we are dedicated to revolutionizing the way organizations conduct meetings. Our platform provides expert insights, practical tools, and proven strategies designed to enhance productivity and engagement in every meeting. With a focus on effective communication and streamlined decision-making, we empower professionals to achieve their goals efficiently. Join us on our mission to transform meetings into powerful, results-driven sessions that drive success.<a rel="nofollow" href="#" target="_parent">Contact Study Hub</a>.</p>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
  
 
  <section class="section coming-soon" data-section="section3">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-xs-12">
          <div class="continer centerIt">
            <div>
              <h4>Take <em>any online course</em> and win Rs.326 for your next class</h4>
              <div class="counter">

                <div class="days">
                  <div class="value">00</div>
                  <span>Days</span>
                </div>

                <div class="hours">
                  <div class="value">00</div>
                  <span>Hours</span>
                </div>

                <div class="minutes">
                  <div class="value">00</div>
                  <span>Minutes</span>
                </div>

                <div class="seconds">
                  <div class="value">00</div>
                  <span>Seconds</span>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="right-content">
            <div class="top-content">
              <h6>Register your free account and <em>get immediate</em> access to online courses</h6>
            </div>
            <form id="contact" action="regist" method="get">
              <div class="row">
                <div class="col-md-12">
                  <fieldset>
                    <input name="sname" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <input name="number" type="text" class="form-control" id="phone-number" placeholder="Your Phone Number" required="">
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button">Get it now</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section courses" data-section="section4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Choose Your Course</h2>
          </div>
        </div>
        <div class="owl-carousel owl-theme">
          <a href="s_signin">
          <div class="item">
            <img src="static/assets/images/courses-01.jpg" alt="Course #1">
            <div class="down-content">
              <h4>Digital Marketing</h4>
              <p>"Unlock the power of digital marketing with our expert strategies. Elevate your online presence and drive real results."</p>
              <div class="text-button-pay">
                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          </a>
          
          <div class="item">
            <img src="static/assets/images/courses-02.jpg" alt="Course #2">
            <div class="down-content">
              <h4>Business World</h4>
              <p>"Empowering businesses with cutting-edge digital marketing solutions. Transform your online presence and achieve unparalleled growth."</p>
              <div class="text-button-free">
                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="static/assets/images/courses-03.jpg" alt="Course #3">
            <div class="down-content">
              <h4>Media Technology</h4>
              <p>"Revolutionizing media technology with innovative solutions. Elevate your digital experience and stay ahead of the curve.</p>
              <div class="text-button-pay">
                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="static/assets/images/courses-04.jpg" alt="Course #4">
            <div class="down-content">
              <h4>Communications</h4>
              <p>"Enhancing communication with cutting-edge solutions. Connect, engage, and succeed like never before."</p>

              <div class="text-button-free">
                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="static/assets/images/courses-05.jpg" alt="">
            <div class="down-content">
              <h4>Business Ethics</h4>
              <p>"Committed to integrity and excellence in every interaction. Building trust through ethical business practices."</p>

              <div class="text-button-pay">
                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="static/assets/images/courses-01.jpg" alt="">
            <div class="down-content">
              <h4>Photography</h4>
              <p>"Capturing moments with artistic precision and passion. Transforming your memories into timeless treasures."</p>

              <div class="text-button-free">
                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="static/assets/images/courses-02.jpg" alt="">
            <div class="down-content">
              <h4>Web Development</h4>
              <p>"Creating innovative and responsive web solutions. Elevate your online presence with expert development services."</p>

              <div class="text-button-free">
                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="static/assets/images/courses-03.jpg" alt="">
            <div class="down-content">
              <h4>Learn HTML CSS</h4>
              <p>"Master the fundamentals of web design with HTML and CSS. Build stunning, responsive websites from scratch."</p>

              <div class="text-button-pay">
                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="static/assets/images/courses-04.jpg" alt="">
            <div class="down-content">
              <h4>Social Media</h4>
              <p>"Transform your brand's presence with expert social media strategies. Engage, grow, and thrive in the digital landscape."</p>

              <div class="text-button-pay">
                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="static/assets/images/courses-05.jpg" alt="">
            <div class="down-content">
              <h4>Digital Arts</h4>
              <p>"Unleash creativity through captivating digital artistry. Transform concepts into visual masterpieces with precision and flair."</p>

              <div class="text-button-free">
                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="static/assets/images/courses-01.jpg" alt="">
            <div class="down-content">
              <h4>Media Streaming</h4>
              <p>"Unlimited access to a vast library of movies, music, and TV shows for endless entertainment at your fingertips. Stream your favorites anytime, anywhere."</p>

              <div class="text-button-pay">
                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <section class="section video" data-section="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="left-content">
            <span>our presentation is for you</span>
            <h4>Watch the video to learn more <em>about study hub</em></h4>
            <p>Start your learning journey with Learn with Videos today and unlock your potential. <br><br>
                Whether you’re preparing for exams, looking to acquire new skills, or simply exploring new interests, our platform has something for everyone.</p>
            <div class="main-button"><a rel="nofollow" href="#" target="_parent">Cources</a></div>
          </div>
        </div>
        <div class="col-md-6">
          <article class="video-item">
            <div class="video-caption">
              <h4>Learn With Video</h4>
            </div>
            <figure>
              <a href="https://www.youtube.com/watch?v=r9LtOG6pNUw" class="play"><img src="static/assets/images/main-thumb.png"></a>
            </figure>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="section contact" data-section="section6">    
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Let’s Keep In Touch</h2>
          </div>
        </div>
        <div class="col-md-6">
          <form id="contact" action="send" method="post">
            {% csrf_token %}   
            <div class="row">
              <div class="col-md-6">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
                  </fieldset>
                </div>
              <div class="col-md-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Send Message Now</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div id="map">
            <iframe src="https://maps.google.com/maps?q=Raipur,%20Chhattisgarh,%20India&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="422px" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>


<section>
    <style>
        .fotter2{
            background-color:#172238;
            padding: 70px 0;
        }
        .container2 {
            max-width: 1170px;
            margin: auto;
        }
        .row2 {
            display: flex;
            flex-wrap: wrap;
        }
        .footer-col2 ul {
            list-style: none;
            padding: 0;
        }
        .footer-col2 {
            width: 25%;
            padding: 0 15px;
        }
        .footer-col2 h4 {
            font-size: 18px;
            color: #fefefe;
            text-transform: capitalize;
            margin-bottom: 30px;
            font-weight: 500;
            position: relative;
        }
      
        .footer-col2 ul li:not(:last-child) {
            margin-bottom: 10px;
        }
        .footer-col2 ul li a {
            font-size: 16px;
            text-transform: capitalize;
            color: #bbbbbb;
            text-decoration: none;
            font-weight: 300;
            display: block;
            transition: all 0.3s ease;
        }
        .footer-col2 ul li a:hover {
            padding-left: 8px;
            color: #fff;
        }
        .footer-col2 ul li a .fab {
            margin-right: 8px;
        }
        .footer-col2 ul li a:hover .fab {
            transform: scale(1.1);
        }
    </style>
    
    <div class="fotter2">
        <div class="container2">
            <div class="row2">
                <div class="footer-col2">
                    <h4>Study Hub</h4>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Courses</a></li>
                        <li><a href="#">Tutors</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-col2">
                    <h4>Resources</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Study Guides</a></li>
                        <li><a href="#">E-books</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
                <div class="footer-col2">
                    <h4>Courses</h4>
                    <ul>
                        <li><a href="#">Math</a></li>
                        <li><a href="#">Science</a></li>
                        <li><a href="#">Languages</a></li>
                        <li><a href="#">Arts</a></li>
                    </ul>
                </div>
                <div class="footer-col2">
                    <h4>Follow Us</h4>
                    <ul>
                      <li><a href="https://www.facebook.com/tarunkurrey02/" style="color: #3b5998;"><i class="fa fa-facebook-f" style="font-size: 25px; margin-right: 10px;"></i>Facebook</a></li>
                      <li><a href="https://x.com/?lang=en-in" style="color: #1da1f2;"><i class="fa fa-twitter" style="font-size: 25px; margin-right: 10px;"></i>Twitter</a></li>
                      <li><a href="https://www.instagram.com/artisttarun02" style="color: #e4405f;"><i class="fa fa-instagram" style="font-size: 25px; margin-right: 10px;"></i>Instagram</a></li>
                      <li><a href="https://www.youtube.com/@tarunkurreyarts4706" style="color: #ff0000;"><i class="fa fa-youtube" style="font-size: 25px; margin-right: 10px;"></i>YouTube</a></li>
                      
                    </ul>
                </div>
            </div>
        </div>
        </div>
</section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p><i class="fa fa-copyright"></i> Copyright 2024 Study Hub 
          
           | Design: <a href="#" rel="sponsored" target="_parent">Tarun kurrey></p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/isotope.min.js"></script>
    <script src="static/assets/js/owl-carousel.js"></script>
    <script src="static/assets/js/lightbox.js"></script>
    <script src="static/assets/js/tabs.js"></script>
    <script src="static/assets/js/video.js"></script>
    <script src="static/assets/js/slick-slider.js"></script>
    <script src="static/assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
          if($(e.target).hasClass('external')) {
            return;
          }
          e.preventDefault();
          $('#menu').removeClass('active');
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>
</html>