<body>
    {% include 'S_panel/S_header.html' %}
    <section class="section why-us" data-section="section2">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <!-- You can add a heading here if needed -->
            </div>
          </div>
          <div class="col-md-12">
            <div id='tabs'>
              <ul>
                <li><a href='#tabs-1'>Best Education</a></li>
                <li><a href='#tabs-2'>Top Management</a></li>
                <li><a href='#tabs-3'>Quality Meeting</a></li>
              </ul>
              <section class='tabs-content'>
                <article id='tabs-1'>
                  <div class="row">
                    <div class="col-md-6">
                      <img src="static/assets/images/choose-us-image-01.png" alt="">
                    </div>
                    <div class="col-md-6">
                      <h4>Best Education</h4>
                      <p>Welcome to Best Education, your ultimate study hub! We provide a wealth of resources, expert guidance, and interactive tools to help you excel academically. Our platform is designed to support learners of all ages and levels, offering personalized learning experiences and the latest educational insights. Join us today and take the first step towards achieving your academic goals! <a href="https://paypal.me/templatemo" target="_parent" rel="sponsored">a small donation</a> Spread the word about Study Hub. Thank you!</p>
                    </div>
                  </div>
                </article>
                <article id='tabs-2'>
                  <div class="row">
                    <div class="col-md-6">
                      <img src="static/assets/images/choose-us-image-02.png" alt="">
                    </div>
                    <div class="col-md-6">
                      <h4>Top Management</h4>
                      <p>Welcome to Study Hub Top Management, your premier source for mastering essential management skills. We provide expert insights, comprehensive resources, and interactive tools designed to enhance your leadership capabilities.</p>
                      <p> Learn how to effectively manage teams, strategize for success, and navigate complex business challenges. Elevate your career and drive organizational growth with Study Hub Top Management!</p>
                      
                    </div>
                  </div>
                </article>
                <article id='tabs-3'>
                  <div class="row">
                    <div class="col-md-6">
                      <img src="static/assets/images/choose-us-image-03.png" alt="">
                    </div>
                    <div class="col-md-6">
                      <h4>Quality Meeting</h4>
                      <p>At Quality Meeting, we are dedicated to revolutionizing the way organizations conduct meetings. Our platform provides expert insights, practical tools, and proven strategies designed to enhance productivity and engagement in every meeting. With a focus on effective communication and streamlined decision-making, we empower professionals to achieve their goals efficiently. Join us on our mission to transform meetings into powerful, results-driven sessions that drive success.<a rel="nofollow" href="#" target="_parent">Contact Study Hub</a>.</p>
                    </div>
                  </div>
                </article>
              </section>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <style>
          .fotter2{
              background-color:#172238;
              padding: 70px 0;
          }
          .container2 {
              max-width: 1170px;
              margin: auto;
          }
          .row2 {
              display: flex;
              flex-wrap: wrap;
          }
          .footer-col2 ul {
              list-style: none;
              padding: 0;
          }
          .footer-col2 {
              width: 25%;
              padding: 0 15px;
          }
          .footer-col2 h4 {
              font-size: 18px;
              color: #fefefe;
              text-transform: capitalize;
              margin-bottom: 30px;
              font-weight: 500;
              position: relative;
          }
        
          .footer-col2 ul li:not(:last-child) {
              margin-bottom: 10px;
          }
          .footer-col2 ul li a {
              font-size: 16px;
              text-transform: capitalize;
              color: #bbbbbb;
              text-decoration: none;
              font-weight: 300;
              display: block;
              transition: all 0.3s ease;
          }
          .footer-col2 ul li a:hover {
              padding-left: 8px;
              color: #fff;
          }
          .footer-col2 ul li a .fab {
              margin-right: 8px;
          }
          .footer-col2 ul li a:hover .fab {
              transform: scale(1.1);
          }
      </style>
      
      <div class="fotter2">
          <div class="container2">
              <div class="row2">
                  <div class="footer-col2">
                      <h4>Study Hub</h4>
                      <ul>
                          <li><a href="#">About</a></li>
                          <li><a href="#">Courses</a></li>
                          <li><a href="#">Tutors</a></li>
                          <li><a href="#">Contact</a></li>
                      </ul>
                  </div>
                  <div class="footer-col2">
                      <h4>Resources</h4>
                      <ul>
                          <li><a href="#">FAQ</a></li>
                          <li><a href="#">Study Guides</a></li>
                          <li><a href="#">E-books</a></li>
                          <li><a href="#">Support</a></li>
                      </ul>
                  </div>
                  <div class="footer-col2">
                      <h4>Courses</h4>
                      <ul>
                          <li><a href="#">Math</a></li>
                          <li><a href="#">Science</a></li>
                          <li><a href="#">Languages</a></li>
                          <li><a href="#">Arts</a></li>
                      </ul>
                  </div>
                  <div class="footer-col2">
                      <h4>Follow Us</h4>
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook-f" style="font-size: 25px;margin-right: 10px;"></i>Facebook</a></li>
                          <li><a href="#"><i class="fa fa-twitter"style="font-size: 25px;margin-right: 10px;"></i>Twitter</a></li>
                          <li><a href="#"><i class="fa fa-instagram"style="font-size: 25px;margin-right: 10px;"></i>Instagram</a></li>
                          <li><a href="#"><i class="fa fa-youtube"style="font-size: 25px;margin-right: 10px;"></i>you tube</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          </div>
    </section>
    
    
    {% include 'S_panel/S_footer.html'%}
</body>